UNTIS_URL=https://deineschule.webuntis.com
UNTIS_SCHOOL=Schulname wie in WebUntis
UNTIS_SCHOOL_ID=sXXXXXX
SHOW_TOMORROW_AFTER=12:30
UNTIS_USER=dein-benutzer
UNTIS_PASSWORD=dein-passwort

# Logo anzeigen? true = logo.png aus dem Projektordner wird verwendet, false = kein Logo
SHOW_LOGO=false
